{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Timer</title>
        <link href="{% static '/home/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static '/home/css/main.css' %}" rel="stylesheet" crossorigin="anonymous" />
        <script src="{% static '/home/js/all_min.js' %}" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <button class="btn btn-link btn-sm order-0 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <h3>Timer</h3>
            </a>
            {% get_current_language as LANGUAGE_CODE %}
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            </form>
            <form method="post" action="{% url 'set_language' %}">
                {% csrf_token %}
                <input type="hidden" name="text" value="{{ redirect_to }}">
                <select name="language" id="" onchange="this.form.submit()">
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                    {% endfor %}
                </select>
                <!--                            <input type="submit" value="Go">-->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">{% trans "Settings" %}</a>
<!--                        <a class="dropdown-item" href="#">Activity Log</a>-->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %}</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">{% trans "Menu" %}</div>
                            <a class="nav-link" href="{% url 'home' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans "User" %}
                            </a>
                            <a class="nav-link" href="{% url 'checkin' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans "Check IN/OUT" %}
                            </a>
                            <a class="nav-link" href="{% url 'record' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans "Record" %}
                            </a>
                            {% if request.user.is_staff %}
                            <div class="sb-sidenav-menu-heading">{% trans "Interface" %}</div>
                            <a class="nav-link" href="{% url 'allrecord' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans "All Staff Records" %}
                            </a>
<!--                            <a class="nav-link" href="{% url 'report' %}">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
<!--                                Report-->
<!--                            </a>-->
                            <a class="nav-link" href="{% url 'getreport' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans "GetReport" %}
                            </a>
                            <a class="nav-link" href="{% url 'add_object' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans "Add object" %}
                            </a>
                            <a class="nav-link" href="{% url 'loginmanager-register' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                {% trans " Add worker" %}
                            </a>
<!--                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>-->
<!--                                Layouts-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">-->
<!--                                <nav class="sb-sidenav-menu-nested nav">-->
<!--                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>-->
<!--                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>-->
<!--                                Pages-->
<!--                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                            </a>-->
<!--                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">-->
<!--                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">-->
<!--                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">-->
<!--                                        Authentication-->
<!--                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">-->
<!--                                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                                            <a class="nav-link" href="{% url 'loginmanager-login' %}">Login</a>-->
<!--                                            <a class="nav-link" href="{% url 'loginmanager-register' %}">Register</a>-->
<!--                                            <a class="nav-link" href="{% url 'loginmanager-password' %}">Forgot Password</a>-->
<!--                                        </nav>-->
<!--                                    </div>-->
<!--                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">-->
<!--                                        Error-->
<!--                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
<!--                                    </a>-->
<!--                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">-->
<!--                                        <nav class="sb-sidenav-menu-nested nav">-->
<!--                                            <a class="nav-link" href="{% url 'loginmanager-401' %}">401 Page</a>-->
<!--                                            <a class="nav-link" href="{% url 'loginmanager-404' %}">404 Page</a>-->
<!--                                            <a class="nav-link" href="{% url 'loginmanager-500' %}">500 Page</a>-->
<!--                                        </nav>-->
<!--                                    </div>-->
<!--                                </nav>-->
<!--                            </div>-->
                            {% endif %}
<!--                            <div class="sb-sidenav-menu-heading">Addons</div>-->
<!--                            <a class="nav-link" href="{% url 'loginmanager-register' %}">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                                Register-->
<!--                            </a><a class="nav-link" href="{% url 'loginmanager-login' %}">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                                Login-->
<!--                            </a><a class="nav-link" href="{% url 'home' %}">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>-->
<!--                                Charts-->
<!--                            </a>-->
<!--                            <a class="nav-link" href="{% url 'home' %}">-->
<!--                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>-->
<!--                                Tables-->
<!--                            </a>-->
<!--                        </div>-->
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">{% trans "Logged in as:" %}</div>
                        {{user}}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                {% block content %} {% endblock content %}
            </div>
        </div>
        <script src="{% static '/home/js/jquery_min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static '/home/js/boundle.js' %}" crossorigin="anonymous"></script>
        <script src="{% static '/home/js/scripts.js' %}"></script>
        <script src="{% static '/home/js/chart.js' %}" crossorigin="anonymous"></script>
        <script src="{% static '/home/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static '/home/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="{% static '/home/js/data_tables.js' %}" crossorigin="anonymous"></script>
        <script src="{% static '/home/js/bootstrap.js' %}" crossorigin="anonymous"></script>
        <script src="{% static '/home/assets/demo/datatables-demo.js' %}"></script>
    </body>
</html>
